<footer>
  <div class="wrapper">
    <div class="column">
      <div class="left">
        <p>
          Painter and decorator near me? <br>
          Yes, Stockbridge Decorators!
      </div>
      <div class="right">
        <p>
          &copy; {{ site.title | escape }} 2021
        </p>
        <p>
          Company Number 701382
        </p>
        <br>
        <p>
          <a href="/assets/employees-insurance.pdf">Employers' Liability Insurance</a>
        </p>
        <p>
          <a href="/assets/public-liability.pdf">Public Liability Insurance</a>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</footer>
