<footer>
  <div class="wrapper">
    <div class="column">
      <div class="left">
        <p>
          Painter and decorator near me?
        </p>
        <br>
        <p>
          <a target="_blank" rel="noopener noreferrer nofollow" href="https://g.page/Stockbridge-Decorators?share">71 Priestfield Road Edinburgh EH16 5HX</a>
        </p>
        <p>
          Monday - Friday 8AM to 5PM
        </p>
      </div>
      <div class="right">
        <p>
          <a target="_blank" href="assets/Terms%20of%20Business.pdf">Terms of Business</a>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</footer>
