<footer>
  <div class="wrapper">
    <div class="column">
      <div class="left">
        <p>
          &copy; Stockbridge Decorators Ltd 2021
        </p>
        <br>
        <p>
          Registered in Scotland
        </p>
        <p>
          Company Number SC701382
        </p>
        <p>
          Directors: Reece Kennedy, Lucy McKenzie
        </p>
      </div>
      <div class="right">
        <br>
        <p>
          <a href="/assets/employees-insurance.pdf">Employers' Liability Insurance</a>
        </p>
        <p>
          <a href="/assets/public-liability.pdf">Public Liability Insurance</a>
        </p>
        <p>
          <a href="/privacy.html">Privacy Policy</a>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</footer>
