---
---

@import "minima";

$padding: 14px;

$color: #2c302d;
$color-caption: #444;

$color-dark-green: #02180b;
$color-light-green: #052512;
$color-link-green: #0f532a;

$color-border: #bbb;

$color-gold: #D4AF37;

$background-color: #f5f4ed;

$font-serif: 'Lora', serif;
$font-sans: 'Poppins', sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-sans;
  font-size: 16px;
  line-height: 1.5;
  background-color: $background-color;
  color: $color;
}

.wrapper { max-width: 1300px; }

section, #services .row, .clear { clear: both; }

.column {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 0 $padding;

  @media (max-width: 800px) {
    width: 100%;
    float: none;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

@media (max-width: 800px) {
  .left, .right {
    float: none;
  }
}

.desktop {
  @media (max-width: 800px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 800px) {
    display: inline;
  }
}

h1, h2, h3, h4 {
  font-family: $font-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.4em;
  margin: 1em 0;

  @media (max-width: 800px) {
    font-size: 2em;
  }
}

h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }

p { margin: 1.5em 0; }

strong {
  color: $color-link-green;
}

a, a:visited {
  outline: none;
  color: $color-link-green;
}

a:hover { color: $color-light-green; }

figcaption {
  margin: 1em 0;
  color: $color-caption;
  font-size: 14px;
}

hr {
  border: none;
  color: $color-border;
  background-color: $color-border;
  height: 1px;
  margin: 3em 0;
}

section {
  padding: 3em 0;

  & > {
    h1, h2, h3 {
      padding: 0 $padding;
    }
  }
}

header.site-header {
  position: fixed;
  width: 100%;
  background-color: $background-color;
  border: 0;
  font-weight: 600;
  top: 0px;
  border-bottom: 1px solid $color-border;
  z-index: 1;

  .line {
    padding-left: $padding;
    line-height: 54px;
  }

  .site-title, nav {
    padding: 0 $padding;
  }

  .phone {
    color:#bd3737;
  }
}

#hero {
  box-sizing: border-box;
  background-color: $color-dark-green;
  background: url("/assets/images/hero.jpg") #234429;
  background-position: 50% 25%;
  background-size: cover;
  background-blend-mode: multiply;
  color: #eee;
  margin: 24px 0 0;
  padding: 5em 0 6em;
  text-align: center;

  @media (max-width: 800px) {
    padding: 4em 0;

    br {
      display: none;
    }
  }

  img {
    width: 100%;
    max-width: 400px;
  }

  h1 {
   display: none;
  }

  h2 {
    font-size: 3.6em;
    margin: 1em 0 0;
    color: #eee;

    @media (max-width: 800px) {
      font-size: 2.4em;
    }
  }
}

#info {

  @media (max-width: 800px) {
    padding-bottom: 0;
  }

  #about {
    width: 60%;

    @media (max-width: 800px) {
      br {
        display: none;
      }
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    .buttons {
      margin: 3em 0 0;
    }

    a {
      border: 2px solid $color-link-green;
      display: inline-block;
      margin: 0 0.5em 1em 0;

      // iphone se
      @media (max-width: 568px) {
        font-size: 80%;
      }

      span {
        display: inline-block;
        padding: 12px 20px;

        // iphone se
        @media (max-width: 568px) {
          padding: 10px 14px;
        }
      }

      svg {
        width: 26px;
        height: 26px;
        position: relative;
        top: 8px;
        padding: 0 16px;
        color: $color-link-green;
        fill: $color-link-green;

        // iphone se
        @media (max-width: 568px) {
          padding: 0 10px;
        }
      }
    }

    #instagram {

      span {
        padding-left: 0;
      }
    }

    a:hover {
      transition-duration: 0.3s;
      color: #fff;
      background-color: $color-link-green;

      svg {
        color: #fff;
        fill: #fff;
      }
    }
  }

  #contact {
    width: 33.3%;
    float: right;

    @media (max-width: 800px) {
      width: 100%;
      float: none;
    }

    h2 {
      font-family: $font-sans;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;
      letter-spacing: 1px;
      color: $color-link-green;
      margin: 0;
    }

    a, a:visited {
      color: $color;
    }

    p {
      font-size: 1.2em;
      margin: 1em 0;

      // iphone se
      @media (max-width: 568px) {
        font-size: 95%;
      }
    }

    #social {
      margin: 2.5em 0 0;

      img {
        width: 40px;
        margin-right: 8px;
      }
    }
  }
}

#services {
  .column {
    width: 33.3%;

    @media (max-width: 800px) {
      width: 100%;
      float: none;
    }
  }

  hr {
    margin-left: 15%;
    margin-right: 15%;
  }

  h2 {
    font-family: $font-sans;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
    color: $color-link-green;
    border-bottom: 1px solid $color-gold;
    display: inline-block;
  }

  .row2 {
    margin-top: 2em;
  }
}

#environment {
  padding: 5em 0 3em;
  text-align: center;

  h1 { margin: 0 0 1em; }
  h2 { margin: 0; }

  hr {
    margin: 0 15% 5em;
  }

  img {
    filter: grayscale(100%);
    display: inline-block;
    max-height: 90px;
    max-width: 200px;
    margin: 3em 15px 0;
  }
}

#logos {

  hr {
    margin-left: 15%;
    margin-right: 15%;
  }

  box-sizing: border-box;
  padding: 0 $padding;

  h1 {
    font-size: 2em;
    padding-left: 0;
    text-align: center;
  }

  div {
    padding: 0 0 1em;
    text-align: center;

    @media (max-width: 800px) {
      padding: 1px;
    }
  }

  img {
    max-height: 90px;
    max-width: 10%;
    margin: 1em 0;
    margin-right: 2%;

    @media (max-width: 800px) {
      max-width: 22%;
    }
  }
}

footer .column {
  width: 100%;
  float: none;
  font-size: 14px;
  margin-bottom: 5em;
  color: $color-caption;

  p {
    margin: 0;
  }
}
