---
class: page index
image: https://www.stockbridgedecorators.com/assets/images/services/commercial.jpg
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ layout.class }}" >

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"bridgecoder",utcoffset:"0"}))};sessionStorage.setItem("_swa","1");</script>

    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Stockbridge Decorators",
        "url" : "https://www.stockbridgedecorators.com/",
        "logo": "https://www.stockbridgedecorators.com/images/cover.png"
      }
    </script>

  </body>

</html>
